:root {
    --main-bg-color: #f44336;
  }
html{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
*,*:before, *:after{
        box-sizing: inherit;
    }
    *{
        margin: 0;
        padding: 0;
        /* font-family: 'Lato', sans-serif; */
    }

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
/*general*/
h1{
    margin: 100px 20px 20px 0;
    font-weight: bolder;
    line-height: 1.5;
    font-size: 68px;
    font-family: "Poppins", sans-serif;
}
h2{
    color: var(--main-bg-color);
    font-size: 48px!important;
    font-family: "Poppins", sans-serif;
}
h3{
    color: #fff;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.right{
    float: right;
    width: 75%;
    margin-bottom: 60px;
}
.stripe{
    color: var(--main-bg-color);
    width: 50px;
    border: 5px solid red;
    border-radius: 4px;
    margin-block-start: 0.5em;
    margin-block-end: 0.67em;
    font-weight: 400;
    margin: 20px 0;
    font-size: 16px;
}
article{
    width: 95%;
    background-color: white;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

/*header*/
header{
    background-color: var(--main-bg-color);
    width: 20%;
    height: 100vh;
    float: left;
    position: fixed;
}
header nav{
    display: block;
}
header h3{
    margin: 100px 20px 50px 40px;
}
header ul{
    margin: 0 20px 0 30px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a:hover{
background-color: white;
color: #000;
}
header nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 10px;
    font-weight: bold;
    line-height: 1.5;
}

.closeMenu{
    width: 100%;
    background-color: var(--main-bg-color);
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    padding: 10px 5px;
    display: none;
}
.closeMenu:hover{
    background-color: #c5b0b0;
    color: #000;
    
    
}
/*header responsive*/
 div.header-responsive{
    background-color: var(--main-bg-color);
    width: 100%;
    /* z-index: 1; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 8vh;
}
 div .icon {
    display: block;
    list-style-type: none;
    margin-left: 30px;
  }
  div.header-responsive h3{
    margin: 10px 20px 5px 100px;
} 
.topnav a{
    color: white;
}
.topnav .icon {
  position: absolute;
  left: 0;
  top: 15px;
}


/*menu responsive*/
@media screen and (max-width: 900px) {
    header {
        display: none;
    }
    .right{
        width: 95%;
        margin-bottom: 60px;
    }
   
}
@media screen and (min-width: 900px) {
    .noShow{
        display: none!important;
}
.show{
    display: block;
}
}

  @media screen and (max-width: 900px) {
    /* .topnav {
        position: relative;
    } */
   
    /* .topnav.responsive li {
      float: none;
      display: block;
      text-align: left;
    } */
  }

/*main*/
.gallery{
    width: 95%; 
    background-color: white;
}
.gallery .blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
main img{
    width: 49%;
    opacity: 0.8;
}
main img:hover{
    opacity: 1;
}
/* div.services{
    clear: both;
} */

/*Designers*/
.listOfMembers{
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
}

.members:not(:last-child){
    margin-right: 15px;
}
.members{
    background-color: #f1f1f1;
}
.members img{
    width: 100%;
    /* filter: brightness(20%); */
    filter: grayscale(80%);
}

div.caption{
    width: 100%;
    margin: auto;
    padding: 10px 15px  10px 15px;
}
.light, .left, .desc{
    margin-bottom: 15px;
}

/* packages */
.packages-detail{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.packages-detail .basic, .packages-detail .pro{
    width: 50%;
    list-style-type: none;
}

.packages-detail ul li:not(:first-child){
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px 16px;
    font-size: 20px;
    background-color: #f1f1f1;
    padding-top: 16px;
    padding-bottom: 16px;
}

.title-pro{
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #fff;
    background-color: #f44336;
    padding-top: 32px;
    padding-bottom: 32px;
}
.title-basic{
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #fff;
    background-color: #616161;
    padding-top: 32px;
    padding-bottom: 32px;
}
.basic{
        margin-right: 15px;
}
.basic button, .pro button{
    text-align: center;
    width: 100px;
    padding: 15px 10px;
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}
.basic button{
    background-color: #fff;
}
.pro button{
    color: #fff;
    background-color: var(--main-bg-color);
}
.basic button:hover{
    background-color: #000;
    color: #fff;
}
.pro button:hover{
    background-color: #000;
}
/*contact*/
.contact form input{
    display: block;
    width: 95%;
    margin-bottom: 15px;
}
.contact form input:last-child{
    background-color: var(--main-bg-color);
    outline: none;
    border: none;
    padding: 12px 10px;
    font-size: 1rem;
    color: #fff;
}
.contact form input:not(:last-child){
    padding: 10px 10px;
    border: 1px solid  rgb(202, 199, 199);
}

/*
Changes:
1-hover menu Done
2-Responsive menu
3-Responsive gallery
4-Responsive services
5-Responsive Designer
6-Responsive Packages
7-Responsive Contact
*/