:root {
    --main-bg-color: #f44336;
  }
html{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
*,*:before, *:after{
        box-sizing: inherit;
    }
    *{
        margin: 0;
        padding: 0;
        /* font-family: 'Lato', sans-serif; */
    }

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
/*general*/
h1{
    margin: 100px 20px 20px 0;
    font-weight: bolder;
    line-height: 1.5;
    font-size: 68px;
    font-family: "Poppins", sans-serif;
}
h2{
    color: var(--main-bg-color);
    font-size: 48px!important;
}
h3{
    color: #fff;
    font-size: 1.6rem;
}
.right{
    float: right;
    width: 75%;
    margin-bottom: 60px;
}
.stripe{
    color: var(--main-bg-color);
    width: 50px;
    border: 5px solid red;
    border-radius: 4px;
    margin-block-start: 0.5em;
    margin-block-end: 0.67em;
    font-weight: 400;
    margin: 20px 0;
    font-size: 16px;
}
article{
    width: 95%;
    background-color: white;
    text-align: justify;
}
/*header*/
header{
    background-color: var(--main-bg-color);
    width: 20%;
    height: 100vh;
    float: left;
    position: fixed;
}
header h3{
    margin: 100px 20px 50px 50px;
}
header ul{
    margin: 0 20px 0 50px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-weight: bold;
    line-height: 1.5;
}

/*main*/
.gallery{
    width: 95%; 
    background-color: white;
}
.gallery .blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
main img{
    width: 49%;
}
div.services{
    clear: both;
}

/*Designers*/
.listOfMembers{
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
}

.members:not(:last-child){
    margin-right: 15px;
}
.members{
    background-color: #f1f1f1;
}
.members img{
    width: 100%;
}

div.caption{
    width: 100%;
    margin: auto;
    padding: 10px 15px  10px 15px;
}
.light, .left, .desc{
    margin-bottom: 15px;
}

/* packages */
.packages-detail{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.packages-detail .basic, .packages-detail .pro{
    width: 50%;
    list-style-type: none;
}

.packages-detail ul li:not(:first-child){
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px 16px;
    font-size: 20px;
    background-color: #f1f1f1;
    padding-top: 16px;
    padding-bottom: 16px;
}

.title-pro{
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #fff;
    background-color: #f44336;
    padding-top: 32px;
    padding-bottom: 32px;
}
.title-basic{
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #fff;
    background-color: #616161;
    padding-top: 32px;
    padding-bottom: 32px;
}
.basic{
        margin-right: 15px;
}
.basic button, .pro button{
    text-align: center;
    width: 100px;
    padding: 15px 10px;
    border: none;
    font-size: 1rem;
    outline: none;
}
.basic button{
    background-color: #fff;
}
.pro button{
    color: #fff;
    background-color: var(--main-bg-color);
}
.basic button:hover{
    background-color: #000;
    color: #fff;
}
.pro button:hover{
    background-color: #000;
}
/*contact*/
.contact form input{
    display: block;
    width: 95%;
}